<h2>Filiale bearbeiten</h2>
<form *ngIf="company" (ngSubmit)="onSubmit()">
  <div class="parent">
  <div class="subparent">
    <label for="sortiment">Sortiment</label>
    <input type="text" id="sortiment"[(ngModel)]="company.sortiment" name="sortiment" required>
  </div>
  <div class="subparent">
    <label for="firma">Firma</label>
    <input type="text" id="firma" [(ngModel)]="company.firma" name="firma" required>
  </div>
  <div class="subparent">
    <label for="plz">PLZ</label>
    <input type="text" id="plz" [(ngModel)]="company.plz" name="plz" required>
  </div>
  <div class="subparent">
    <label for="ort">Ort</label>
    <input type="text" id="ort" [(ngModel)]="company.ort" name="ort" required>
  </div>
  <div class="subparent">
    <label for="kanton">Kanton</label>
    <input type="text" id="kanton" [(ngModel)]="company.kanton" name="kanton" required>
  </div>
  <div class="subparent">
    <label for="email">Email</label>
    <input type="email" id="email" [(ngModel)]="company.email" name="email" required>
  </div>
  <div class="subparent">
    <label for="web">Web</label>
    <input type="text" id="web" [(ngModel)]="company.web" name="web" required>
  </div>
  <div class="subparent">
    <label for="phone">Phone</label>
    <input type="text" id="phone" [(ngModel)]="company.phone" name="phone" required>
  </div>
  <div class="subparent">
    <label for="contact">Contact</label>
    <input type="text" id="contact" [(ngModel)]="company.contact" name="contact" required>
  </div>
  <div class="subparent">
    <label for="img">Image URL</label>
    <input type="text" id="img" [(ngModel)]="company.img" name="img" required>
  </div>
  </div>
  <div class="buttons">
    <button type="submit" (click)="back()">speichern</button>
  <button type="button" (click)="back()">zurück</button>
  </div>
</form>
