.displaybtngroup {
  right: 1rem;
  position: absolute;
  top: 10rem;
}

.displaybtn:hover {
  background-color: gainsboro;
}

.active-link {
  background-color: #e0e0e0;
}

.map-parent{
  margin-left: 15%;
  margin-top: 5rem;
  width: 70%;
  padding-bottom: 5rem;
}

h2,
p {
  margin-left: 15%;
}

h2{
  margin-top: 1.5%;
}
