<h2>Unsere Filialen</h2>
<p>Hier kommt etwas Text... unsere Produkte gibt es natürlich auch im Fachhandel. Hier finden Sie Verkaufsstellen in Ihrer Nähe.</p>

<mat-button-toggle-group name="displaymode" class="displaybtngroup">
  <mat-button-toggle value="table" class="displaybtn" routerLinkActive="active-link" [routerLink]="'/filialen/materialtable'">Tabelle</mat-button-toggle>
  <mat-button-toggle value="map" class="displaybtn" routerLinkActive="active-link" [routerLink]="'/filialen/map'">Map</mat-button-toggle>
</mat-button-toggle-group>
<div class="map-parent">
  <google-map [options]="options" [center]="center" [zoom]="zoom" class="custom-map" width="97%" height="50rem">
    <map-marker *ngFor="let position of markerPositions" [position]="position"></map-marker>
  </google-map>
</div>
