<h2>{{ 'OUR_BRANCHES' | translate }}</h2>
<p>{{ 'HERE_YOU_CAN_ADD,_EDIT_OR_DELETE_BRANCHES' | translate }}.</p>

<mat-button-toggle-group name="displaymode" class="displaybtngroup">
  <mat-button-toggle value="table" class="displaybtn" routerLinkActive="active-link" [routerLink]="'/filialen/materialtable'">{{ 'TABLE' | translate }}</mat-button-toggle>
  <mat-button-toggle value="map" class="displaybtn" routerLinkActive="active-link" [routerLink]="'/filialen/map'">{{ 'MAP' | translate }}</mat-button-toggle>
</mat-button-toggle-group>

<table mat-table [dataSource]="companies">
  <ng-container matColumnDef="sortiment">
    <th mat-header-cell *matHeaderCellDef>{{ 'ASSORTMENT' | translate }}</th>
    <td mat-cell *matCellDef="let company">{{ company.assortment }}</td>
  </ng-container>

  <ng-container matColumnDef="firma">
    <th mat-header-cell *matHeaderCellDef>{{ 'BRANCH' | translate }}</th>
    <td mat-cell *matCellDef="let company">{{ company.branche }}</td>
  </ng-container>

  <ng-container matColumnDef="plz">
    <th mat-header-cell *matHeaderCellDef>{{ 'ZIP' | translate }}</th>
    <td mat-cell *matCellDef="let company">{{ company.zip }}</td>
  </ng-container>

  <ng-container matColumnDef="ort">
    <th mat-header-cell *matHeaderCellDef>{{ 'CITY' | translate }}</th>
    <td mat-cell *matCellDef="let company">{{ company.city }}</td>
  </ng-container>

  <ng-container matColumnDef="kanton">
    <th mat-header-cell *matHeaderCellDef>{{ 'CANTON' | translate }}</th>
    <td mat-cell *matCellDef="let company">{{ company.canton }}</td>
  </ng-container>

  <ng-container matColumnDef="details">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let company">
      <a [routerLink]="['/filialen/details', company.id]">{{ 'SHOW_DETAILS' | translate }}</a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let company; columns: displayedColumns;"></tr>
</table>
