form{
  padding-left: 2rem;
  padding-bottom: 1rem;
}

h2{
  margin-left: 2rem;
}

.btnparent {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.mat-button, .back-btn {
  color: black;
  background-color:rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.02857em;
  text-decoration: none;
  outline: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
  border-bottom-style: solid;
  border-bottom-color: rgb(118, 118, 118);
  border-width: 1px;
  text-align: center;
  width: 6rem;
  height: 2rem;
  line-height: 2rem;
}

.back-btn:hover, .mat-button:hover {
  background-color: rgba(0, 0, 0, 0.12);
  border-bottom-color: black;
}

