<div class="header">
    <img (click)="gotwosic()" class="logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyCMX5L1AcU1XOvIXSfh_Zuc67vi6r1VsYSUZ8LF7fPQ&s" alt="2siclogo">
    <div class="navigation"><button class="navitems">Startseite</button><button class="navitems">Produkte</button><button class="navitems">Über uns</button><button class="navitems" (click)="mattable()">Filialen</button><button class="navitems" (click)="goToFilialen()">Editor</button></div>
</div>
<router-outlet></router-outlet>
