<div class="header">
  <img (click)="gotwosic()" class="logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyCMX5L1AcU1XOvIXSfh_Zuc67vi6r1VsYSUZ8LF7fPQ&s" alt="2siclogo">
  <div class="navigation">
    <button class="navitems">{{ 'START' | translate }}</button>
    <button class="navitems">{{ 'PRODUCTS' | translate }}</button>
    <button class="navitems">{{ 'ABOUT US' | translate }}</button>
    <button class="navitems" (click)="goToFullstack()">{{ 'FULLSTACKTABLE' | translate }}</button>
    <button class="navitems" (click)="mattable()">{{ 'BRANCHES' | translate }}</button>
    <button class="navitems" (click)="goToFilialen()">{{ 'EDITOR' | translate }}</button>
    <select (change)="changeLanguage($event)" class="navitems">
      <option [value]="'en'" [selected]="getCurrentLanguage() === 'en'">{{ 'ENGLISH' | translate }}</option>
      <option [value]="'de'" [selected]="getCurrentLanguage() === 'de'">{{ 'GERMAN' | translate }}</option>
    </select>
  </div>
</div>
<router-outlet></router-outlet>
