.company-details {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display: flex;
  margin: 2rem;
  padding: 10px;
}

.back-btn {
  background: none;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  border-style: none;
  font-weight: bold;
  cursor: pointer;
  margin: 2rem;
  text-decoration: none;
  color: black;
}

.img {
  max-width: 50%;
  height: auto;
  align-self: flex-end;
  margin-left: 2rem;
  margin-top: 1.2rem;
}

.map-parent {
  margin-left: 2rem;
  margin-bottom: 1rem;
}
