<div class="company-details" *ngIf="company">
  <div class="info">
    <h3>{{ 'OUR_BRANCHES' | translate }} {{ company.city }}</h3>
    <p>{{ company.branche }}{{ company.zip }} {{ company.city }}</p>
    <p>{{ 'PHONE' | translate }}: {{ company.phone }}<br> {{ 'EMAIL' | translate }}: {{ company.email }}<br>{{ 'WEB' | translate }}: {{ company.web }}</p>
    <p>{{ company.contact }}</p>
  </div>
  <div>
    <img class="img" src="{{ company.img }}" alt="Image by {{ company.branche }}">
  </div>
</div>


<div class="map-parent">
  <google-map [options]="options" [center]="center" [zoom]="zoom" class="custom-map" width="60%" height="30rem">
    <map-marker [position]="markerPosition"></map-marker>
  </google-map>
</div>

<a [routerLink]="['/filialen/materialtable']" class="back-btn">&lt; {{ 'BACK_TO_LIST' | translate }}</a>
